################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Duo/.vs

/Duo/appsettings.json
/Duo/bin
/Duo/obj
/UBB-SE-2025-Marketplace-CustomerSupport-main/.vs
