################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Duo/.vs

/Duo/appsettings.json
/Duo/bin/x64/Debug/net8.0-windows10.0.19041.0/win-x64
